extends base.pug
block script

block style
    link(rel="stylesheet", href="../static/home.css")

block content
    div.hero
        div.box
            h1 Welcome to CodeWithAman
            h2 Seems like you haven't Signed Up yet.
